html{
    height:100%;
    background-color: #19191A;
    background-size: cover;
    display: block;
    margin: 0;
}
body {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    display: none;
}
.navigation {
    margin: 10px;
    margin-top: 0;
}
.menu {
    font-family: 'Roboto';
    padding: 20px;
    padding-left: 10px;
    font-size: 20px;
    line-height: 27px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -.02em;
    color: #F7F9FF;
    text-decoration: none;
}
.dev {
    padding: 20px;
    font-size: 23px;
    line-height: 27px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -.02em;
    color: #F7F9FF;
    text-decoration: none;
    padding-left: 0;
}
.menu-items {
    color:#E8EAF0;
    font-family:'Frank Ruhl Libre';
    font-size: 25px;
    font-weight: 500;
    padding-left: 7px;
    padding-top: 6px;
    text-decoration: none;
    display: inline-block;
}
.contents {
    color:#F7F9FF;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}
.title {
    font-size: 70px;
    font-weight: 600;
    padding: 0;
    margin-top: 180px;
    animation: fadein 1s;
}
.title2 {
    font-size: 50px;
    font-weight: 600;
    padding: 0;
    margin-top: 80px;
    animation: fadein 1s;
}
img{
    margin-top: 30px;
    width: 500px;
}
.pro{
    margin-bottom: 500px;
}
.about {
    margin-bottom: 10px;
}
.about2 {
    font-size: 15px;
    text-align: center;
    font-weight: 300;
    margin-top: 0;
}
.description {
    color:#E0E1E5;
    margin-top: 0%;
    margin-bottom: 20%;
    font-size: 18px;
    white-space: pre-wrap;
    line-height: 24px;
    text-align: center;
    animation: fadein 3s;
}
.rounded {
    height: 70px; width: 500px;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 300px;
    position: relative;
}
.talk {
    text-align: center;
    color: #d0d1d5;
}
.talk > a{
    color:#d0d1d5;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 0px) and (max-width: 530px) {
    .menu-items {
        font-size: 17px;
        padding-top: 3px;
        padding-left: 0;
    }

    .dev {
        font-size: 17px;
        padding-top: 0;
        padding-left: 0;
    }

    .title {
        font-size: 43px;
        margin-top: 30px;
    }
    .title2 {
        font-size: 30px;
        font-weight: 600;
        padding: 0;
        margin-top: 0px;
        animation: fadein 1s;
    }
    .description {
        font-size: 14px;
        margin: 20px;
        margin-left: 35px;
        margin-right: 35px;
        margin-top: 0;
        white-space: pre-wrap;
        line-height: 24px;
        text-align: center;
    }
    img{
        margin-top: 30px;
        width: 300px;
    }
    .about2 {
        font-size: 10px;
        text-align: center;
    }

    .menu {
        font-size: 14px;
        padding: 0 10px 0 0;
    }

    .navigation {
        flex-direction: column;
        display: flex;
    }

    .rounded {
        height: 70px;
        width: 500px;
        margin-top: 30px;
        position: relative;
    }

    .talk {
        font-size: 10px;
    }
    .pro{
        font-size: 12px;
    }
}
