html{
    height:100%;
    background:url("../images/back.png");
    background-repeat : no-repeat;
    background-size: cover;
    background-position: center center;
    display: block;
    margin: 0;
}
body {
    overflow: hidden;
    touch-action:none;
    height: 100%;
}
.background {
    width: 100%;
    height: 100vh;
}
.navigation {
    margin: 10px;
    margin-top: 20px;
}
.menu {
    font-family: 'Roboto';
    padding: 20px;
    font-size: 20px;
    line-height: 27px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -.02em;
    color: #F7F9FF;
    text-decoration: none;
}
.slogan {
    color:#F7F9FF;
    font-family:'Frank Ruhl Libre';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}
.title {
    font-size: 55px;
    font-weight: 600;
    padding: 0;
}
.description{
    display: flex;
    font-size: 15px;
    color:#F7F9FF;
    margin-bottom: 200px;
}
.cr{
    font-size: 11px;
    font-family:'Frank Ruhl Libre';
    font-weight: lighter;
    line-height: 20px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 17px 0px 10px 40px;
    color: #cbcfd5;
    background: rgba(184, 186, 189, 0.15);
}
p{
    margin: 2px;
}

@media (min-width: 0px) and (max-width: 600px) {
    .title {
        font-size: 40px;
        font-weight: 600;
    }
    .description {
        font-size: 12px;
        margin-bottom: 250px;
    }

    .menu {
        font-size: 15px;
        padding: 0 20px 0 0;
    }
    .navigation {
        align-items: center;
        flex-direction: column;
        display: flex;
    }

}
